<div class="surface-card p-4 border-round w-full lg:w-full">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">Login</div>
    <span class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a class="font-medium no-underline ml-2 text-teal-500 cursor-pointer">Create today!</a>
  </div>
  <div class="bg-teal-50 border-round w-full flex align-self-center justify-content-center">
    <form [formGroup]="loginForm" (submit)="loginAction()" class="w-8 lg:w-6 py-4 lg:py-6">
      <label for="email" class="block text-700 font-medium mb-2">Email</label>
      <input id="email" pInputText class="w-full mb-3" [formControlName]="'email'">

      <label for="password" class="block text-700 font-medium mb-2">Password</label>
      <input id="password" pPassword class="w-full mb-3" [formControlName]="'password'">

      <button [disabled]="!loginForm.valid" pButton icon="pi pi-sign-in" label="Sign In"></button>
    </form>
  </div>

</div>
